/*顶部占位*/
.nav{
    height: 154px;
    width: 100%;
    background: blue;
}

/*公共类*/
body{
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: "微软雅黑";
}
@font-face {
    font-family: 'iconfont';
    src: url('../iconFont/iconfont.eot');
    src: url('../iconFont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconFont/iconfont.woff') format('woff'),
    url('../iconFont/iconfont.ttf') format('truetype'),
    url('../iconFont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
a{
    color: #666666;
    font-size: 12px;
}
a:hover{
    color: #E2383B;
}

.product{
    height: 1819px;
    width: 100%;
}
/*版心*/
.w{
    height: 100%;
}
.top{
    width: 990px;
    height: 230px;
    float: right;
}
.top .backHome{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #D4D4D4;
}
.top .backHome a{
    position: relative;
}
.top .backHome a em{
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 24px;
    height: 1px;
    background: #E2383B;
    opacity: 0;
}
.top .backHome a:hover em{
    opacity: 1;
}
.top .backHome img{
    padding: 0 13px 0 8px;
}
.top .show{
    width: 100%;
    height: 190px;
}
.top .show img{
    width: 375px;
    height: 180px;
    float: left;
    margin-right: 10px;
}
.top .show a:nth-of-type(3) img{
    width: 210px;
    height: 180px;
}

.center{
    width: 990px;
    height: 258px;
    float: right;
}
.center .title{
    width: 960px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border-top: 1px solid #E0E0E0;
    background: #F4F4F4;
}
.center .title a{
    float: right;
    position: relative;
}
.center .title a i{
    position: absolute;
    top: 10px;
    left: -18px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-weight: bold;
    background: #B5B5B5;
    border-radius: 6px;
    color: #F4F4F4;
    text-align: center;
}
.center .title a em{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 48px;
    height: 1px;
    background: #E2383B;
    opacity: 0;
}
.center .title a:hover{
    border: none;
}
.center .title a:hover em{
    opacity: 1;
}
.center .list{
    width: 100%;
    height: 176px;
}
.center .list li{
    width: 100%;
    height: 33px;
    padding: 5px 0;
    border-bottom: 1px dotted #E0E0E0;
}
.center li .tx{
    float: left;
    width: 90px;
    height: 27px;
    padding: 0 10px;
    line-height: 27px;
    text-align: right;
    color: #999999;
}
.center li .box{
    float: left;
    width: 52px;
    height: 27px;
    line-height: 27px;
    padding-left: 13px;
    font-weight: bold;
}
.center li .box a{
    display: inline-block;
    width: 24px;
    height: 21px;
    line-height: 21px;
    padding: 0 9px;
    background: #559B0D;
    color: #FFFFFF;
}
.center li .box a:hover{
    background: #307500;
    color: #FFF799;
}
.center li .list{
    float: left;
    width: 805px;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
}
.center li .list p{
    float: left;
    padding: 0 10px;
    color: #666666;
}
.center li .list p input{
    margin: 3px 3px 3px 4px;
}
.center .sort{
    width: 988px;
    height: 34px;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
    background: #F4F4F4;
}
.center .sort .lef{
    float: left;
    width: 98px;
    height: 34px;
    line-height: 34px;
    padding-left: 11px;
    color: #666666;
}
.center .sort .cen{
    float: left;
    width: 186px;
    height: 28px;
}
.center .sort .cen li{
    float: left;
    width: 40px;
    height: 20px;
    padding-left: 10px;
    margin: 6px 0 0 10px;
    background: #FAFAFA;
    border: 1px solid #E0E0E0;
    position: relative;
}
.center .sort .cen li a:hover{
    color: #000;
}
.center .sort .cen li i{
    float: right;
    top: -3px;
    right: 1px;
    position: absolute;
    color: #B0B0B0;
    transform: scale(0.6);
}
.center .sort .cen li:nth-child(2) i{
    top: -1px;
    right: 1px;
}
.center .page{
    float: right;
    width: 146px;
    height: 28px;
    padding: 0 10px;
    color: #999999;
    margin-top: 9px;
}
.center .page li{
    float: left;
    position: relative;
}
.center .page li:nth-child(2),
.center .page li:nth-child(4){
    width: 18px;
    height: 28px;
}
.center .page .in{
    padding: 0 10px 0 5px;
}
.center .page .pr{
    padding: 0 5px 0 1px;
}
.center .page .pg{
    padding: 0 5px;
}
.center .page li i{
    display: inline-block;
    position: absolute;
    top:-2px;
    left: 0px;
    color: #666666;
    transform: scale(0.8);
}
.center .style{
    float: right;
    width: 78px;
    height: 34px;
    padding-right: 1px;
    border-right: 1px solid #E8E8E8;
}
.center .style li{
    float: left;
    width: 22px;
    height: 19px;
    margin: 7px 0 0 10px;
    border: 1px solid #E8E8E8;
    background: #358000 url("../images/list_ico12.png") 0 -19px;
}
.center .style li:nth-child(2){
    background: #FAFAFA url("../images/list_ico13.png") 0 0;
}
.center .style li a{
    opacity: 0;
}

.bottom{
    width: 100%;
    height: 1323px;
    float: right;
    padding-top: 8px;
}
.bottom .left{
    width: 188px;
    float: left;
    border: 1px solid #E0E0E0;
}
.bottom .left .title{
    width: 178px;
    height: 39px;
    line-height: 39px;
    padding-left: 10px;
    font-size: 14px;
    background: #F7F7F7;
}
.bottom .left .prolist{
    width: 178px;
    height: 832px;
    padding: 10px 0 10px 10px;
}
.bottom .left .prolist li{
    width: 100%;
    padding-top: 5px;
}
.bottom .left li p{
    float: left;
    width: 60px;
}
.bottom .left li img{
    width: 60px;
    height: 60px;
    background: blue;
}
.bottom .left li .rbox{
    float: left;
    width: 102px;
    padding: 5px 0 0 8px;
}
.bottom .left .rbox .txt{
    width: 102px;
    line-height: 16px;
}
.bottom .left .rbox .txt a{
    color: #999999;
}
.bottom .left .rbox .txt a:hover{
    text-decoration: underline;
}
.bottom .left .rbox .pri{
    width: 102px;
    height: 24px;
    line-height: 24px;
}
.bottom .left .rbox .pri i{
    color: #CD0653;
}
.bottom .left .rbox .pri del{
    padding-left: 5px;
    color: #BFBFBF;
}

.bottom .right{
    width: 990px;
    height: 100%;
    float: right;
    /*background: pink;//---最后删除---*/
}
.bottom .right li{
    float: left;
    width: 240px;
    height: 395px;
    position: relative;
    margin: 0 10px 20px 0;
    background: #FFFFFF;
}
.bottom .right li:nth-child(4n){
    margin: 0 0 20px 0;
}
.bottom .right .goods{
    width: 236px;
    position: absolute;
    min-height: 395px;
    border: 1px solid #FFFFFF;
}
.bottom .right .goods:hover{
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 1px #999999;
}
.bottom .right li .img{
    width: 220px;
    height: 220px;
    margin: 0 auto;
    padding-top: 11px;
}
.bottom .right li .img img{
    width: 220px;
    height: 220px;
}
.bottom .right li .name{
    padding: 0 10px;
    line-height: 18px;
    margin-top: 8px;
    color: #666666;
}
.bottom .right li .name a:hover{
    text-decoration: underline;
}
.bottom .right li .pri{
    padding: 5px 10px 0;
    margin-top: 25px;
    height: 24px;
    line-height: 22px;
}
.bottom .right li .pri strong{
    color: #CD0653;
    font-size: 16px;
    font-weight: normal;
}
.bottom .right li .mpri{
    padding: 0 10px;
    line-height: 18px;
    height: 18px;
    clear: both;
    color: #999999;
}
.bottom .right li .mpri p{
    float: right;
    color: #999999;
}
.bottom .right .mpri p a{
    color: #005AA0;
}
.bottom .right .mpri p a:hover{
    text-decoration: underline;
}
.bottom .right .buy{
    padding-left: 5px;
    height: 35px;
    clear: both;
}
.bottom .right .buy a{
    float: left;
    padding: 0 9px;
    margin-top: 10px;
    margin-left: 5px;
    height: 23px;
    line-height: 23px;
    color: #666666;
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
}
.bottom .right .buy .go:hover{
    color: #FFFFFF;
    background: #E2383B;
    border: 1px solid #E2383B;
}
.bottom .right .buy .cat:hover{
    color: #FFFFFF;
    background: #835A31;
    border: 1px solid #835A31;
}




/*底部占位*/
.footer{
    width: 100%;
    height: 335px;
    background: blue;
}